// CSS Vars
:root {
  --v-dark-grayish-blue: hsl(217, 19%, 35%);
  --d-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --l-grayish-blue: hsl(210, 46%, 95%);

  /*
    v - very
    d - desaturated
    l - light
  */
}
